<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Carlo Espino &#x7C; Software Engineer in Seattle">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0c3c4a">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{{title}}</title>
    <style>
      /* being of highlightjs a11y-light.min.css */
      pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
        Theme: a11y-light
        Author: @ericwbailey
        Maintainer: @ericwbailey

        Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
      */.hljs{background:#fefefe;color:#545454}.hljs-comment,.hljs-quote{color:#696969}.hljs-deletion,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable{color:#d91e18}.hljs-attribute,.hljs-built_in,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#aa5d00}.hljs-addition,.hljs-bullet,.hljs-string,.hljs-symbol{color:green}.hljs-section,.hljs-title{color:#007faa}.hljs-keyword,.hljs-selector-tag{color:#7928a1}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}@media screen and (-ms-high-contrast:active){.hljs-addition,.hljs-attribute,.hljs-built_in,.hljs-bullet,.hljs-comment,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-quote,.hljs-string,.hljs-symbol,.hljs-type{color:highlight}.hljs-keyword,.hljs-selector-tag{font-weight:700}}
      /* end of highlightjs a11y-light.min.css */

      @media (prefers-color-scheme: dark) {
      /* being of highlightjs a11y-dark.min.css */
      pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
        Theme: a11y-dark
        Author: @ericwbailey
        Maintainer: @ericwbailey

        Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
      */.hljs{background:#2b2b2b;color:#f8f8f2}.hljs-comment,.hljs-quote{color:#d4d0ab}.hljs-deletion,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable{color:#ffa07a}.hljs-built_in,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#f5ab35}.hljs-attribute{color:gold}.hljs-addition,.hljs-bullet,.hljs-string,.hljs-symbol{color:#abe338}.hljs-section,.hljs-title{color:#00e0e0}.hljs-keyword,.hljs-selector-tag{color:#dcc6e0}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}@media screen and (-ms-high-contrast:active){.hljs-addition,.hljs-attribute,.hljs-built_in,.hljs-bullet,.hljs-comment,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-quote,.hljs-string,.hljs-symbol,.hljs-type{color:highlight}.hljs-keyword,.hljs-selector-tag{font-weight:700}}
      /* end of highlightjs a11y-dark.min.css */
      }
      body {
        max-width: 50.5em;
        margin: 0 auto;
        font-family: Cambria, Georgia, serif;
        font-size: 1.1em;
        word-wrap: break-word;
      }
      .content {
        margin: 0.8em;
      }
      a {
        color: rgb(0, 0, 225) !important;
        text-underline-offset: 0.3em;
      }
      a:visited {
        color: rgb(0, 116, 191) !important;
      }
      html {
        background-color: rgb(255, 255, 255) !important;
      }
      input,
      textarea {
        background-color: rgb(240, 240, 240) !important;
      }
      blockquote {
        background-color: rgb(245, 247, 240) !important;
      }
      pre {
        position: relative;
      }
      pre:has(code.hljs) {
        max-width: 60em;
        min-width: 60em;
      }
      pre code.hljs {
        border: 0.1em solid black;
      }
      pre button {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
      }
      pre:not(:has(code.hljs)) {
        padding: 1em;
        padding-top: 2em;
        background-color: rgb(237, 252, 237) !important;
      }
      code:not([class^="language-"]) {
        background-color: rgb(237, 252, 237) !important;
        white-space: pre-wrap;
      }
      nav {
        border-bottom: 0.1em dashed;
        border-top: 0.1em dashed;
        padding: 1em;
      }
      nav a {
        margin-right: 1em;
      }
      h1 span,
      h2 span,
      h3 span,
      h4 span,
      h5 span,
      h6 span {
        display: inline-block;
        animation: butterfly 1s infinite;
        animation-delay: calc(.1s * var(--i));
      }
      ul li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
      @keyframes butterfly {
        0%,40%,100% {
          transform: translateY(0)
        }
        20% {
          transform: translateY(-20px)
        }
      }
      .date {
        font-size: 0.9em;
        font-style: italic;
        color: #333333;
      }
      @media (prefers-color-scheme: dark) {
        a {
          color: rgb(88, 157, 246) !important;
        }
        a:visited {
          color: rgb(168, 192, 35) !important;
        }
        body {
          color: rgb(169, 183, 198) !important;
        }
        html {
          background-color: rgb(43, 43, 43) !important;
        }
        input,
        textarea {
          background-color: rgb(58, 58, 58) !important;
          color: rgb(169, 183, 198) !important;
        }
        blockquote {
          background-color: rgb(54, 65, 53) !important;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: rgb(169, 183, 198) !important;
        }
        pre:not(:has(code.hljs)) {
          background-color: rgb(54, 65, 53) !important;
        }
        code:not([class^="language-"]) {
          background-color: rgb(54, 65, 53) !important;
        }
        .date {
          color: #91a0a2;
        }
      }
    </style>
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2B2B2B" />
  </head>
  <body>
    <main class="content">
      <nav>
        {% for data in search.pages("is_nav_page=true", "nav_order") %}
        <a href="{{ data.url }}" aria-label="{{ data.nav_text }}" rel="noreferrer noopener">&sol;{{ data.nav_text }}</a>
        {% endfor %}
        <a href="https://www.linkedin.com/in/espinoco/" aria-label="LinkedIn" rel="noreferrer noopener" target="_blank">&sol;linkedin</a>
      </nav>
      <h1>{{title}}</h1>
      {% if page.data.published_on %}
      <p class="date">Published on {{ page.data.published_on | date('HUMAN_DATE') }}
        {% if page.data.updated_on %}
          &#x2022; Updated on {{ page.data.updated_on | date('HUMAN_DATE') }}
        {% endif %}
      {% endif %}
      {{ content | safe }}
    </main>
    <script>
      const COPY_TEXT = "Copy";

      async function copyCodeElementContents(block, button) {
        const code = block.querySelector("code");
        await navigator.clipboard.writeText(code.innerText);
        button.innerText = "Copied";
        setTimeout(() => {
          button.innerText = COPY_TEXT;
        }, 1000);
      }

      const blocks = document.querySelectorAll("pre");
      blocks.forEach((block) => {
        if (navigator.clipboard) {
          let button = document.createElement("button");
          button.innerText = COPY_TEXT;
          block.appendChild(button);
          button.addEventListener("click", async () => {
            await copyCodeElementContents(block, button);
          });
        }
      });
    </script>
    <script>
      console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
      console.log("* Greetings human. You're a curios one.     *");
      console.log("* Call butterfly() and unleash the powers   *");
      console.log("* of the butterfly.                         *");
      console.log("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<");
      function butterfly() {
          const headings = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
          for (let i = 0; i < headings.length; i++) {
            const heading = headings[i];
            let delay = 0;
            heading.innerHTML = heading.textContent.replace(/\S/g, function(match) {
              return "<span style='--i:" + ++delay + "'>" + match  + "</span>"
            });
          }
          console.log("Watch the headings on the page!");
      }
    </script>
  </body>
</html>
