---
title: Carlo Espino
publish_as_page_in_home_listings: false
is_nav_page: true
nav_text: home
nav_order: 0
---
<h2>Software Engineer in Seattle</h2>

<p>I'm a Software Engineer at Expedia, currently based in Seattle, Washington. My career began in Mexico, where I led
various software engineering projects. Over the years, I’ve developed complex software solutions, collaborating with
small and large teams across the United States and Mexico. My mission is to deliver quality software that effectively
serves people. While my full name is Carlo Eduardo Rodriguez Espino, I prefer to go by Carlo Espino.</p>

<h2>Writings</h2>
<ul>
  {% for data in search.pages("is_nav_page!=true", "title") %}
    <li><a href="{{ data.url }}" rel="noreferrer noopener">{{ data.title }}</a></li>
  {% endfor %}
</ul>
