---
title: Carlo Espino's Personal Site
publish_as_page_in_home_listings: false
is_nav_page: true
nav_text: /home
nav_order: 0
---

<ul>
  {% for data in search.pages("is_nav_page!=true", "title") %}
  <li><a href="{{ data.url }}" rel="noreferrer noopener">{{ data.title }}</a></li>
  {% endfor %}
</ul>
